<html>
  <head>
    <title>New Campaign</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
	  <%= stylesheet_link_tag "form" %>
	  <%= stylesheet_link_tag "messagebox" %>
  </head>

    <body>       
		<%= form_with model: @campaign, local: true do |form| %>
                <p class='title'>
					<%= form.label :title %><br>
					<%= form.text_field :title %>
				</p>

				<p class='title'>
					<%= form.label :summary %><br>
					<%= form.text_area :summary %>
				</p>

		<% if @campaign.errors.any? %>
			<p class='title error-msg'>
				<%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:
			</p>
			<% @campaign.errors.full_messages.each do |msg| %>
			<div class='error-box'>
				<p class='error-msg'>
					<%= msg %>
				</p>
			</div>
			<% end %>
		<% end %>

				<p>
					<%= form.submit %>
				</p>
				<p class='link'>
					<%= link_to 'Back', campaigns_path %>
				</p>
		<% end %>
    </body>
</html>