<html>
  <head>
    <title>New Campaign</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
	  <%= stylesheet_link_tag "cards" %>
	  <%= stylesheet_link_tag "messagebox" %>
  </head>

    <body>
        <h1 class='banner-title'>All Campaigns</h1>
		<%= render 'navbar' %>
		
		<div class='root'>
		<% @campaigns.each do |campaign| %>
			<div class='card'>
				<h2 class='title'> <%= campaign.title %> </h2>
				<p class='text-content'> <%= campaign.summary %> </p> <br>
				<p class='link'> <%= link_to 'Show', campaign_path(campaign) %> </p>
				<p class='link'> <%= link_to 'Edit', edit_campaign_path(campaign) %> </p>
			</div>
		<% end %>
		</root>
    </body>
</html>