<% stylesheet_link_tag "form" %>
<% stylesheet_link_tag "cards" %>
<% provide(:title, 'Sign Up') %>

<div class='root'>
<div class='card'>
<div class='form'>
    <%= form_for(@account) do |f|%>
        <%= render 'shared/error_messages' %>

        <%= f.label :display_name, class: 'title' %>
        <%= f.text_field :display_name, class: 'text-input' %>

         <%= f.label :email, class: 'title' %>
         <%= f.email_field :email, class: 'text-input' %>

         <%= f.label :password, class: 'title' %>
        <%= f.password_field :password, class: 'text-input' %>

         <%= f.label :password_confirmation, "Confirm password", class: 'title' %>
         <%= f.password_field :password_confirmation, class: 'text-input' %>

          <%= f.submit "Create my account", class: 'submit'%>
    <% end %>
</div>
</div>
</div>
