<html>
  <head>
    <title>View Campaign</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
	  <%= stylesheet_link_tag "cards" %>
	  <%= stylesheet_link_tag "messagebox" %>
      </head>

    <body>
		<h1 class='banner-title'>
			<%= @account.display_name %>
		</h1>
		<%= render 'navbar' %>

        <div class ='root'>
			<div class='card'>
				<h2 class='title'>Username:</h2>
				<h2 class='title'>
					<%= @account.username %>
				</h2> <br>

				<h2 class='title'>Email:</h2>
				<h2 class='title'>
					<%= @account.email %>
				</h2> <br>
			</div>
        </div>
    </body>
</html>