<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <h1 class='primary f-6 tc db-ns dn'><%= yield(:title) %></h1>
    <%= render 'layouts/navigation' %>
    <div class='root'>
        <%= yield %>
    </div>
  </body>
</html>
