<% provide(:title, @title) %>
<div class='aside-container'>
    <%= render 'shared/account_info' %>

    <%= render 'shared/stats'%>
    <% if @accounts.any? %>
        <% @accounts.each do |account| %>
            <%= link_to gravatar_for(account.email, size: 3), account %>
        <% end %>
    <% end %>
</div>

<div class='sticky-form'>
    <% if @accounts.any? %>
        <%= render @accounts %>
        </div>
        <%= will_paginate %>
    <% else %>
        </div>
    <% end %>
