<% provide(:title, @account.display_name) %>

<div class='aside-container'>
	<%= gravatar_for @account.email, size: 80 %>
	<h2> <%= @account.display_name %> </h2>
	<%= render 'shared/stats' %>
	<%= render 'follow_form' if logged_in? %>
	<% if current_account.admin? && current_account?(@account) %>
		<%= link_to "Send test email", send_test_email_path %>
		<%= link_to "Test migration", test_migration_path %>
	<% end %>
</div>
<div class='sticky-form'>
	<% if @account.microposts.any? %>
		<div class='title-card'>
			<h2>Microposts (<%= @account.microposts.count %>)</h2>
		</div>
		<%= render @microposts %>
	<% end %>
</div>
<%= will_paginate @microposts %>
